* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.deal__item {
    height: 300px;
    background: grey;
    width: 20%;
    text-align: center;
    text-transform: uppercase;

}

.deal__status {
    padding: 15px 0;
    border-bottom: 1px solid black;
}

#btn {
    margin: 30px 5px;
    font-size: 20px;
    background: green;
    color: white;
    border: none;
    border-radius: 5%;
    padding: 5px;
}

.task {
    font-size: 18px;
    text-align: justify;
    text-transform: none;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid black;
    position: relative;
    background: tomato;
    word-break: break-word;
    padding: 5px 30px 0 10px;
}

.deleteItem {
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 0;
    margin: auto;
    font-size: 26px;
    padding: 0 0 0 5px;
    /* z-index: 200; */
    bottom: 0;
    /* left: 0; */
    height: fit-content;
}

#sprint {
    background: tomato;
}

#progress {
    background: yellow;
}

#review {
    background: lightblue;
}

#done {
    background: green;
}

#deal {
    margin-left: 10px;

}
.manager{
    display: flex;
    justify-content:end;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
}
.manager__executor{
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 150px;
    background: rgb(165, 152, 152);
    border:1px solid black;
}
.manager__executor > div{
    width: 20px;
    height: 20px;
    background:rgb(34, 53, 165);
}

@media all and (max-width:460px) {
    .wrapper {
        width: 100%;
        flex-direction: column;
    }

    .deal__item {
        margin: auto;
        width: 80%;

    }

    #deal {
        margin-left: 10px;

    }
}

 